@using ECommerse.WebUI.Areas.Admin.Controllers
@model List<ProductViewModel>

<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Container-fluid starts-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="title-header option-title d-sm-flex d-block">
                                    <h5>Məhsulların Siyahısı</h5>
                                    <div class="right-options">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">import/idxal</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Export/İxrac</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-solid" asp-controller="Product" asp-action="AddProduct">Məhsul əlavə edin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="table-responsive">
                                        <table class="table all-package theme-table table-product" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Məhsulun Şəkli</th>
                                                    <th>Məhsulun Adı</th>
                                                    <th>Kateqoriya</th>
                                                    <th>Mövcud Miqdar</th>
                                                    <th>Qiymət</th>
                                                    <th>Status</th>
                                                    <th>Seçim</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if (Model is not null)
                                            {
                                                @foreach (var product in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="table-image">
                                                                <img src="@Url.Content("~/photos/"+product.Image)" class="img-fluid" alt="">
                                                            </div>
                                                        </td>

                                                        <td>@product.Name</td>

                                                        <td>@product.Category?.Name</td>

                                                        <td>@product.Quantity</td>

                                                        <td class="td-price">$@product.Price</td>

                                                        <td class="status-danger">
                                                            <span>Gözləyən</span>
                                                        </td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <i class="ri-eye-line"></i>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                        <a asp-action="EditProduct" asp-controller="Product" asp-route-productId="@product.Id">
                                                                        <i class="ri-pencil-line"></i>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                                                                        <i class="ri-delete-bin-line"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->

            <div class="container-fluid">
                <!-- footer start-->
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2023 © SaytAdi theme by Lorem</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- page-wrapper End-->

<!-- Delete Modal Box Start -->
<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel22">Siz əminsiniz?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, quas?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">Xeyr</button>
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Bəli</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel12">Bitdi!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                    <h4 class="text-content">Silindi.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal Box End -->